/****************************************************************************************************/
/************************************IMPORTS THE NECESSARY FONTS************************************/
/****************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap');

/****************************************************************************************************/
/*******************************basic css reset for all elements ************************************/
/****************************************************************************************************/ 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus{
        outline: none;
}
body{
  font-size: 16px;
  background-color: #c4c4c4;
  color:#fff; 
  height: 100vh;
  line-height: 1.5;
  background-size: cover;
  background: linear-gradient(45deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url(https://res.cloudinary.com/trive/image/upload/v1588410923/Soccer.jpg) no-repeat center center fixed;
} 

/****************************************************************************************************/
    /************************************quiz section container************************************/
/****************************************************************************************************/
.container{
  display: grid;
  grid-template-columns:1fr;
  grid-gap :1.5rem ;
  padding: 1.5rem;
  overflow: hidden;
  font-family: 'Graduate', cursive;
} 

.disable{
    pointer-events: none ;
}

.right{
        background-color: #008000;
        color: #fff;
}
.wrong{
        background-color: #ff0000;
        color: #fff;
}
.hide{
        display: none;
}

/****************************************************************************************************/
/************************************Welcome page/instruction page************************************/
/****************************************************************************************************/
h1.header{
  font-size:2.5rem ;
  justify-self: center;
  align-self: center ;
  text-transform: uppercase;
  text-align: center;
} 
p.instruction{
  text-align: center;
  color: rgb(255, 207, 50);
  margin-top : 3rem ;
  font-size: large;
} 

/****************************************************************************************************/
        /************************************buttons************************************/
/****************************************************************************************************/
input#start,
input#next{
        width: 12rem;
        height: 3rem;
        padding:.6rem;
        justify-self: center;
        color:#fff;
        border-radius:.5rem ;
        font-size:150%;
} 
input#start{
        background-color :transparent ;
        border: 1px solid #fff ; 
        margin-top: 4rem ;
}
input#next{
        background-color: #f7e8c5a4;
        border: none;
        margin: 1rem auto;
        font-family: 'Source Code Pro', monospace;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
button{
        padding: 0.75rem 1rem ;
        width: 100%;
        border: 0px ;
        border-radius :1rem ;
        cursor: pointer;
        display: flex ;
        font-family: 'Source Code Pro', monospace;
        font-weight: 400 ;
}

button span{
        display :inline-block;
        margin :0 auto;
}

p.correct,
input#next{
        font-family: 'Source Code Pro', monospace;
        font-weight: 300;
        margin-top:1rem; 
}
#play{
        width: 60%;
        margin :3rem auto ;
        height :3rem ;
        font-family :'Graduate', cursive;
        background-color: #F0E24C;
        border: 0px ;
        border-radius :0.8rem;
        font-weight: bold;
        text-shadow: -1px 0 #F04C4C, 0 1px #BC2DE5, 1px 0 #BC2DE5, 0 -1px #BC2DE5;
        margin-bottom: 3rem;
        text-align: center ;
        text-decoration: underline;
        color :#333;
        
}



/*div containing question and options*/
div.quiz{
        justify-self: center;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
        width: auto;
        height: auto;
        text-align: center ;
        padding :1rem ;
        font-family: 'Source Code Pro', monospace;
}

/*options */
div.options{
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 1.5rem ;
        justify-items: start;
        align-items: flex-start;
        padding-top: 2rem ;
        font-family: 'Source Code Pro', monospace;
}



h2.final-score{
        text-shadow: -1px 0 #BC2DE5, 0 1px #BC2DE5, 1px 0 #BC2DE5, 0 -1px #BC2DE5;
        font-size: 4rem;
}

.final{
    text-align : center ;
}

/****************animated text********************/
.blinking{
    animation:blinkingText 1.2s  infinite;
}
@keyframes blinkingText{
    0%{     color: #fff;    }
    49%{    color: #ccc; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #eee;    }
}
.blink{
    animation:blinkingText 7s linear infinite;
    
}
@keyframes blinkingText{
    0%{     color: #fff;    }
    20%{    color: #fff; }
    40%{    color: transparent; }
    80%{    color:transparent;  }
    100%{   color: #ee0;    }
}


/****************************************************************************************************/
       /************************************MEDIA QUERIES************************************/
/****************************************************************************************************/
@media all and (min-width:560px){
        
        h1.header{
                margin-top:7rem ;
                font-size :300%;
        }
        p.instruction{
                font-size:200%;
        }
        input#start,
        input#next{
                width: 40%;
                height: 6rem;
                padding:1.2rem;
                justify-self: center;
                color:#fff;
                border-radius:1rem ;
                font-weight: bold;
                font-size :2.5rem ;
        }
        
        div.quiz{
                padding-bottom: 3rem;
        }
        h3.question{
                font-size:2.5rem ;
        }
        
        div.options{
        grid-gap: 2rem ;
        justify-items: center ;
        }
        
        button{
                width: 80%;
                height: 4rem ;
                margin: 0 auto ;
                font-size :2rem ;
        }
        
        p.correct{
                font-size: 3rem ;
        }
        
        h2.final-score{
                font-size :6rem ;
                margin :4rem 0 10rem 0 ;
                text-align: center ;
        }
        
        #play{
                width: 60%;
                height: 5rem ;
                font-size: 3rem ;
                text-align: center;
        }
        
        .blink{
            font-size :300%;
        }
}
